.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

@media only screen and (max-width: 992px) {
  table.colsi {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  table.rwd-table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  p, a {
    word-break: break-all;
  }
}