<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">應用說明</a></li>
  <li><a href="toc.html">目錄</a></li>
	<li class="dropdown">
		<a href="artifacts.html">規範文件<b class="caret">
			</b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="capability-statements.html">能力聲明</a>
			</li>
			<!-- 
      <li>
				<a href="searchparameters-and-operation.html">查詢參數及操作定義</a>
			</li>
			<li>
				<a href="models.html">邏輯模型</a>
			</li> -->
			<li>
				<a href="profiles-and-extensions.html">FHIR Profiles 及 Extensions</a>
			</li>
			<li>
				<a href="terminologies.html">專門術語</a>
			</li>
		</ul>
	</li>
  <!-- <li><a href="examples.html">範例</a></li> -->
  <li><a href="downloads.html">結構定義與範例檔下載</a></li>
  <li><a href="security.html">安全性</a></li>
  <li><a href="validates.html">驗證教學</a></li>
  <li class="dropdown">
    <a href="connectathon.html">2025 專案聯測松<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="track0.html">賽道 0：OAuth2 存取認證</a></li>
      <li><a href="track1.html">賽道 1：日間照護服務資料交換</a></li>
      <li><a href="track2.html">賽道 2：失智症評估與監測</a></li>
      <li><a href="track3.html">賽道 3：機構間轉銜服務</a></li>
      <li><a href="track4.html">賽道 4：長照 2.0 服務計畫與紀錄</a></li>
    </ul>
  </li>
  <!-- <li><a href="history.html">版本歷程</a></li> -->
</ul>      

<style>
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

@media only screen and (max-width: 992px) {
  table.colsi {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  table.rwd-table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  p, a {
    word-break: break-all;
  }
}
</style>
